body {
    background: /* #E3FDFC; */ #27AAE1;
	font-family: Georgia;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: /*#34A198*/ #27AAE1;
}

a:hover {
	background-color: yellow;
	text-decoration: underline;

}

hr {
	display: none;
}

input, textarea {
	border: 1px solid #34A198;
}

#addtolist {
	border: 0;
}

label {
	font-weight: bold;
}

dd {
	padding-bottom: 1em;
}


h1 {
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: /* black; */  white;
	text-shadow: black 2px 2px 0;

}

h1 a { color: black; }
h1 a:hover { color: #34A198; }


h2 {
	font-size: 150%;
	font-weight: normal;
	color: /* black; */ white;
	margin: 0;
	letter-spacing: 0.15em;
	text-shadow: black 2px 2px 0;
}

h3 {
	font-size: 110%;
	font-weight: bold;
	color: black;
	padding: 0;
	margin: 1em;
	line-height: 80%
}

.header {
/*	background: #DEDEDE; */
    background: /* #E3FDFC; */ #27AAE1;
	padding: 15px;
	border-top: 0;
}

div.navigation {
	margin-left: 1em;
	float: left;
	width: auto;
	background: #EFEFEF;
	border: 1px solid /* #CCC */ black;
}

.navigation img {
	border-bottom: 1px solid /* #CCC */ black;
}

.navigation ul {
	margin: 10px;
	padding: 0;
}

.navigation li {
	list-style: none;
	margin-top: 0.5em;
	text-align: right;
	font-size: 110%;
}

.content {
	border: 1px solid /* #CCC */ black;
	margin-top: 0;
	margin-left: 200px;
	margin-right: 1em;
	width: auto;
	background-color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
	letter-spacing: 0.1em;
}

.content p {
	line-height: 150%;
	margin: 1em;
}

.content ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.content li {
	margin: 0;
}

.footer {
	clear: both;
	font-family: Georgia, Courier, serif;
	color: white;
    margin-left: 200px;
	width: 100%;
	line-height: 100%;
	text-shadow: black 1px 1px 0;

}

.footer a {
	color: yellow;
}

.footer a:hover {
    background: none;
	text-decoration: underline;

}

p.copyright {
	font-size: 80%;
	font-weight: bold;
}

p.trademark {
	font-size: 80%;
}

p.datestamp {
	font-size: 80%;
}

p.privacy {
    font-size: 80%;
}